media/yellow_asset.png
media/get_2d_pipeline.pdf
media/get_2d_pipeline.jpg
media/cup_grasps.jpg
media/cup grasps.pdf
media/GET_2D_Method_Web.pdf
media/gripper_comparison.pdf
.DS_Store
media/force probe on object.png
media/force probe on object copy.png
media/get_2d_examples/*.png
media/shake_test.MOV
media/shake_test.mp4
media/shake_test_2.mov
media/force_probe_on_object.mp4
media/GET_Planning_CASE_Apr_13_v17.pdf
media/GET_Planning_CASE_compressed.pdf
media/omni_picker.png
media/omni_picker.jpg
media/sunday_gripper_cropped.png
media/omnipicker.png
media/GET_Isolated.png
